<section class="section bg-color-grey section-height-3 border-0 mt-0 mb-0">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                     id="credit-card-processing">
                    <div class="col-md-4 px-5 px-md-3">
                        <img class="img-fluid scale-2 pr-5 pr-md-0 my-4"
                             src="{{ 'assets/images/card_processing_s.jpg' | theme}}"
                             alt="layout styles"/>
                    </div>
                    <div class="col-md-8 pl-md-5">
                        <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Credit
                            Card Processing</strong></h2>
                        <p class="text-4">We offer the lowest rates possible with cutting edge equipment allowing you to
                            capture charges anywhere.</p>
                        <!--<a href="#" class="btn btn-modern btn-dark mt-1">Learn more</a>-->
                    </div>
                </div>

                <hr class="solid my-5">

                <div class="row align-items-center pt-5 pb-3 appear-animation"
                     id="online-ordering"
                     data-appear-animation="fadeInRightShorter">
                    <div class="col-md-8 pr-md-5 mb-5 mb-md-0">
                        <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Online
                            Ordering</strong></h2>
                        <p class="text-4">Online ordering gives your customers the freedom to order whenever, wherever
                            they want.</p>
                        <!--<a href="#" class="btn btn-modern btn-dark mt-1">Learn more</a>-->
                    </div>
                    <div class="col-md-4 px-5 px-md-3">
                        <img class="img-fluid scale-2 my-4"
                             src="{{ 'assets/images/online_order_2.jpg' | theme}}"
                             alt="style switcher"/>
                    </div>
                </div>

                <hr class="solid my-5">

                <div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                     id="loyalty">
                    <div class="col-md-4 px-5 px-md-3">
                        <img class="img-fluid scale-2 my-4"
                             src="{{ 'assets/images/gift_card_s.jpg' | theme}}"
                             alt="layout styles"/>
                    </div>
                    <div class="col-md-8 pl-md-5">
                        <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Loyalty /
                            Gift Card</strong></h2>
                        <p class="text-4">Custom designed and printed just for your business to increase sales and
                            returning customers. Our gift cards are compatible with almost every single POS system.</p>
                        <!--<a href="#" class="btn btn-modern btn-dark mt-1">Learn more</a>-->
                    </div>
                </div>

                <hr class="solid my-5">

                <div class="row align-items-center pt-5 pb-3 appear-animation"
                     id="website-design"
                     data-appear-animation="fadeInRightShorter">
                    <div class="col-md-8 pr-md-5 mb-5 mb-md-0">
                        <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Website
                            Design</strong></h2>
                        <p class="text-4">Websites are one of the first things your customers will judge your business.
                            We create and maintain SEO friendly and responsive websites.</p>
                        <!--<a href="#" class="btn btn-modern btn-dark mt-1">Learn more</a>-->
                    </div>
                    <div class="col-md-4 px-5 px-md-3">
                        <img class="img-fluid scale-2 my-4"
                             src="{{ 'assets/images/web_design_s.jpg' | theme}}"
                             alt="style switcher"/>
                    </div>
                </div>

                <hr class="solid my-5">

                <div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                     id="marketing"
                >
                    <div class="col-md-4 px-5 px-md-3">
                        <img class="img-fluid scale-2 my-4"
                             src="{{ 'assets/images/marketing_seo_s.jpg' | theme}}"
                             alt="layout styles"/>
                    </div>
                    <div class="col-md-8 pl-md-5">
                        <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">Marketing
                            / Seo</strong></h2>
                        <p class="text-4">An easier way to gain more sales and customers. We customize every strategy
                            personally to ensure that your goals are met and sales are increased.</p>
                        <!--<a href="#" class="btn btn-modern btn-dark mt-1">Learn more</a>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>