<section
        class="page-header mb-0 page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7"
        style="background-image: url('{{bgImage}}')">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-5 mb-5">
                <h5 class="text-primary font-weight-bold mb-1 appear-animation animated fadeInUpShorter appear-animation-visible"
                    data-appear-animation="fadeInUpShorter" data-appear-animation-duration="750"
                    style="animation-delay: 300ms;">{{title}}</h5>
                <h1 class="font-weight-bold text-12 line-height-2 mb-3 appear-animation animated fadeInUpShorter appear-animation-visible"
                    data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400"
                    data-appear-animation-duration="750" style="animation-delay: 600ms;">{{subTitle}}</h1>
                <p class="custom-font-size-1 appear-animation animated fadeInUpShorter appear-animation-visible"
                   data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900"
                   data-appear-animation-duration="750" style="animation-delay: 900ms;">{{description}}</p>
            </div>
        </div>
    </div>
</section>