<div class="container my-5 pb-4">
    <div class="row text-center mt-5">
        <div class="owl-carousel owl-theme mb-0"
             data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 5}, '1200': {'items': 5}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
                <img class="img-fluid" src="{{'assets/images/ezpos.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid" src="{{'assets/images/ezordernow.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid" src="{{'assets/images/pax.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid" src="{{'assets/images/firstdata.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid" src="{{'assets/images/firserv.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid" src="{{'assets/images/go2pos.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid" src="{{'assets/images/tsys.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid" src="{{'assets/images/go3.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid" src="{{'assets/images/iconpayments.png' | theme}}" alt="">
            </div>
        </div>
    </div>
</div>