<!-- Vendor -->
<script src="{{ [
'assets/vendor/jquery/jquery.min.js',
'assets/vendor/jquery.appear/jquery.appear.min.js',
'assets/vendor/jquery.easing/jquery.easing.min.js',
'assets/vendor/jquery.cookie/jquery.cookie.min.js',
'assets/vendor/popper/umd/popper.min.js',
'assets/vendor/bootstrap/js/bootstrap.min.js',
'assets/vendor/common/common.min.js',
'assets/vendor/jquery.validation/jquery.validate.min.js',
'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js',
'assets/vendor/jquery.gmap/jquery.gmap.min.js',
'assets/vendor/jquery.lazyload/jquery.lazyload.min.js',
'assets/vendor/isotope/jquery.isotope.min.js',
'assets/vendor/owl.carousel/owl.carousel.min.js',
'assets/vendor/magnific-popup/jquery.magnific-popup.min.js',
'assets/vendor/vide/jquery.vide.min.js',
'assets/vendor/vivus/vivus.min.js',
'assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js',
'assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js',
'assets/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js',
'assets/js/theme.js',
'assets/js/views/view.home.js',
'assets/js/custom.js',
'assets/js/theme.init.js'
]|theme }}"></script>