<footer id="footer" class="mt-0">
    <div class="container">
        <div class="row pt-4 pb-5">
            <div class="col-lg-3 mb-3 mb-md-0 text-center text-lg-left pt-3">
                <h4>Solution</h4>
                <ul class="list list-footer-nav">
                    <li>
                        <a class="text-dark" href="{{'small-medium-business' | page}}">Small & Medium Business</a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'corporate-group' | page}}">Corporate Group
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'shopping-mall' | page}}">Shopping Mall
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'customer' | page}}">Customer & QR E-Menu
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 mb-3 mb-md-0 text-center text-lg-left pt-3">
                <h4>Software</h4>
                <ul class="list list-footer-nav">
                    <li>
                        <a class="text-dark" href="{{'novo-pos' | page}}">
                            Novo Pos
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-mpos' | page}}">
                            Novo MPos
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-manager' | page}}">
                            Novo Manager
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-kds' | page}}">
                            KDS
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-waiting-list' | page}}">
                            Waiting List
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 mb-3 mb-md-0 text-center text-lg-left pt-3">
                <h4>Hardware</h4>
                <ul class="list list-footer-nav">
                    <li>
                        <a class="text-dark" href="{{'novo-handheld' | page}}">
                            Handheld
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-terminals' | page}}">
                            Terminals
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-printer' | page}}.html">
                            Printer
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-dual-display' | page}}">
                            Dual Display
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-barcode-scanner' | page}}">
                            Barcode Scanner
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="{{'novo-cash-drawer' | page}}">
                            Cash Drawer
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 mb-3 mb-lg-0 text-center text-lg-left pt-3">
                <div class="contact-details">
                    <h4>Contact Us</h4>
                    <ul class="list list-icons list-icons-lg">
                        <li class="px-0 d-flex align-items-center"><i class="far fa-dot-circle text-color-primary"></i>
                            <p class="m-0 px-1 text-dark">{{this.theme.config.address}}</p>
                        </li>
                        <li class="px-0 d-flex align-items-center"><i class="fab fa-whatsapp text-color-primary"></i>
                            <p class="m-0 px-1"><a class="text-dark"
                                                   href="tel:8883771838">{{this.theme.config.phone}}</a></p></li>
                        <li class="px-0 d-flex align-items-center"><i class="far fa-envelope text-color-primary"></i>
                            <p class="m-0 px-1"><a class="text-dark" href="mailto:ezupos@hotmail.com">{{this.theme.config.email}}</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="font-weight-bold text-dark">© 2019 Go3pos All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>