<link href="{{ [
    'assets/vendor/bootstrap/css/bootstrap.min.css',
    'assets/vendor/fontawesome-free/css/all.min.css',
    'assets/vendor/animate/animate.min.css',
    'assets/vendor/simple-line-icons/css/simple-line-icons.min.css',
    'assets/vendor/owl.carousel/assets/owl.carousel.min.css',
    'assets/vendor/owl.carousel/assets/owl.theme.default.min.css',
    'assets/vendor/magnific-popup/magnific-popup.min.css',
    'assets/css/theme.css',
    'assets/css/theme-elements.css',
    'assets/css/theme-blog.css',
    'assets/css/theme-shop.css',
    'assets/vendor/rs-plugin/css/settings.css',
    'assets/vendor/rs-plugin/css/layers.css',
    'assets/vendor/rs-plugin/css/navigation.css',
    'assets/vendor/circle-flip-slideshow/css/component.css',
    'assets/css/skins/skin-construction.css',
    'assets/css/demos/demo-construction.css',
    'assets/css/custom.css'
]|theme }}" rel="stylesheet">